# Environment files
.env
.env.*.php
.env.*.backup

# IDE / System files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

###> mysql data source volume ###
/data-source/
###< mysql data source volume ###